html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-y: hidden;
}

body {
    border: 0.0001px solid transparent;
}

ul {
    list-style-type: none !important;
}

ul, li {
    margin: 0;
    padding: 0;
}

header {
    min-height: 8%;
    width: 83%;
    left: 17%;
    top: 0;
    z-index: 10;
}

aside {
    width: 17%;
    height: 87%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
}

main {
    height: 100%;
    margin-left: 17%;
    overflow-y: scroll;
}

footer {
    min-height: 65px;
    height: 13%;
    width: 100%;
    background-color: rgb(41, 37, 37);
    z-index: 10;
}

#progress {
    height: 3px;
    background-color: grey;
}

#progress div {
    background-color: white;
    height: 100%;
}