html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-y: hidden;
}

body {
    border: 0.0001px solid transparent;
}

ul {
    list-style-type: none !important;
}

ul, li {
    margin: 0;
    padding: 0;
}

header {
    min-height: 8%;
    min-width: 75%;
    max-width: 90%;
    left: 17%;
    top: 0;
    z-index: 10;
}

aside {
    width: 17%;
    min-width: 250px;
    height: 87%;
    border: 1px solid black;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
}

main {
    height: 82%;
    margin-left: 17%;
    overflow-y: scroll;
    width: 83%;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

main::-webkit-scrollbar {
    width: 5px;
}

main::-webkit-scrollbar-thumb {
    background: rgb(63, 58, 58);
}

footer {
    min-height: 65px;
    height: 13%;
    width: 100%;
    background-color: rgb(41, 37, 37);
    z-index: 10;
    bottom: 0;
}
footer img {
    max-width: 165px;
    max-height: 90%;
}

#progress {
    height: 3px;
    background-color: grey;
}

#progress div {
    background-color: white;
    height: 100%;
}

.musicfull {
    display: none;
}

.headerwrapper {
    width: 83%;
    float: right;
    border: 1px solid black;
    height: 5%;
}

.fa-search {
    font-size: 2rem;
    margin-left: 1%;
}

.searchbar {
    height: 100%;
    display: flex;
    align-items: center;
}

#searchinput {
    border: transparent;
    z-index: 10;
    margin-left: 1%;
}

#searchinput:focus {
    outline: none;
}

#searchresult {
    background: white;
}

#searchresult li {
    height: 60px;
    display: flex;
    font-size: 1.5rem;
    align-items: center;
    border: 1px solid black;
}

#searchresult li img {
    width: 55px;
    height: 55px;
}

#searchresult li div {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 10px;
}

.playbar {
    top: 15%;
    width: 300px;
    transform: translateX(-50%);
}